* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

/* Root variable */
:root {
  --primary-color: #14213d;
  --secondary-color: #F7D247;
  --three-color-linear: linear-gradient(to right, #fca311, #ecc077);
  --four-color: #fca311;
  --hover-color: #fca311;
  --font-color-blur: #ffffffb4;
  --font-color-blur-primary: #14213d89;
  --font-color: #ffffff;
  --bgcolor-comment: #101439;
  --bgcolor-comment-details: #03091C;
  --bgcolor-input: #202846;
  --bgcolor-form: #0000003b;
}

/* start Header */
body {
  scroll-behavior: smooth;
  /* background-color: var(--primary-color); */
}

header {
  background-color: var(--primary-color);
  height: 6rem;
  position: fixed;
  top: 0px;
  transition: 1.5s;
  z-index: 10;
  width: 100%;
}

/* Icon */
header .header-left .Icon {
  width: 300px;
  height: 100%;
  margin: 8px auto auto 0px;
  z-index: 10;
}

header .header-left .Icon .Icon-img {
  width: 80px;
  height: 5rem;
  margin: auto 0px;
  display: inline;
}
header .header-left .Icon .Icon-img img {
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
header .header-left .Icon span{
  display: inline-block;
  color: var(--four-color);
  /* margin-left: 10px; */
}
/* nav links */
header .header-left nav .Navbar ul {
  list-style: none;

}

header .header-left nav .Navbar ul li {
  padding-left: 6px;

}

header .header-left nav .Navbar ul li a {
  text-decoration: none;
  color: var(--font-color-blur);
  font-size: 15px;
}

header .header-left nav .Navbar ul li a:hover,
header .header-left nav .Navbar ul li a:active {
  color: var(--four-color);
}

/* nav information */
header .header-left nav .Info {
  width: 300px;
}

header .header-left nav .Info .Font {
  color: var(--font-color);
  font-size: 25px;
  /* margin-right: 30px; */
}

header .header-left nav .Info .Font i:hover,
header .header-left nav .Info .Font i:active {
  color: var(--four-color);
  font-size: 30px;
}

header .header-left nav .Info .Login a {
  margin-right: 10px;
  padding: 20px 30px;
  color: var(--font-color);
  text-decoration: none;
  background-image: var(--three-color-linear);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;

}

header .header-left nav .Info .Login .Color-Register,
header .header-left nav .Info .Login .Color-Login{
  background-image: none;
}

header .header-left nav .Info .Login a:hover {
  /* color: var(--primary-color); */
}

header .header-left nav .Info .Login .Color-Register:hover,
header .header-left nav .Info .Login .Color-Login:hover{
  background-image: var(--three-color-linear);
}

header .header-right {
  display: flex;
  align-items: center;
}

header .header-right .hamburger {
  margin-left: 20px;
  cursor: pointer;
  display: none;
}

header .header-right .hamburger div {
  width: 30px;
  height: 2px;
  margin: 6px 0;
  background: #fff;
}

@media only screen and (max-width: 1400px) {
  header {
    padding: 0 20px;
  }

  /* header .header-left .Icon{
    position: absolute;
    top: 40px;
    left: 30px;
  } */
  header .header-left .Icon {
    width: auto;
  }
  header .header-right .hamburger {
    display: block;
    z-index: 10;
    position: absolute;
    top: 40px;
    right: 20%;
  }

  header .header-left nav {
    margin: 0;
    position: absolute;
    top: -600%;
    left: 0;
    width: 100%;
    height: fit-content;
    background-color: var(--primary-color);
    padding: 30px;
    transition: 1.5s;
    text-align: center;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
  }

  header .header-left nav.active {
    top: 0px;
    padding-top: 80px;
  }

  header .header-left nav ul {
    display: block;
  }

  header .header-left nav ul li {
    padding: 5px;
    width: 100%;
  }

}
/* End Header */
main .section-header {
  display: none;
}
main .section-header p{
  color: var(--primary-color);
  font-size: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main .section-header .info .FEATURED{
  color: var(--primary-color);
  font-weight: bold;
  margin: 0px auto 0px 0px;
  padding-left: 50px;
}
main .section-header .info .info-div .aunchor{
  text-decoration: none;
}
main .section-header .info .info-div .div-img{
  height: 30rem;
  margin: auto;
}
main .section-header .info .info-div .div-img img{
  width: 100%;
  height: 80%;
}
main .section-header .info .info-div .div-img .div-img-info h2{
  color: var(--primary-color);
}
main .section-header .info .info-div .div-img .div-img-info p{
  color: var(--primary-color);
  font-size: 1.2rem;
}
main .section-header .info .info-div .div-img .div-img-info span{
  color: var(--font-color-blur-primary);
  font-size: .9rem;
}
main .section-header .info .info-div .hr-info{
  background-color: var(--font-color-blur-primary);
  height: 30rem;
  width: 1px;
}
@media only screen and (max-width: 768px){
  main .section-header .info .info-div .hr-info{
    width: 95%;
    height: 1px;
    margin: 10px auto;
  }
  main .section-header .info .FEATURED{
    padding-left: 10px;
  }
  main .section-header p{
    font-size: 1.3rem;
  }
}
main .section-header .info .info-div .info-right {
  padding-left: 10px;
}
main .section-header .info .info-div .info-right p{
  color: red;
  font-size: 3.5rem;
  height: 30rem;
}
main section{
  display: none;
  min-height: 100vh;
  width: 100%;
  position: relative;
}
main section .construction{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  -webkit-transform: translate(-50% , -50%);
  -moz-transform: translate(-50% , -50%);
  -ms-transform: translate(-50% , -50%);
  -o-transform: translate(-50% , -50%);
  font-size: 3rem;
  color: red;
  /* display: none; */
}
main .Active{
  display: flex;
}